# Copia esse arquivo pra .env.local e preenche
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ANTHROPIC_API_KEY=
GOOGLE_AI_KEY=
GROQ_API_KEY=
APIFY_TOKEN=
SOCIAVAULT_KEY=
